/* Customizing the theme for the published Dendron site. This is a theme that darkens the background slightly, and uses blue for links and highlights.

The custom styles are at a
[seed stage](https://wiki.dendron.so/notes/gE61aypBFWOeV0SP1qFz3/),
meaning that these CSS selectors are not stable yet. You may need to make
changes to your custom styles in the future to keep them working.
We'll be trying to stabilize these as soon as possible to minimize breakages!
*/
:root {
  --hue-color: 250;

  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --text-color-light: hsl(var(--hue-color), 8%, 38%);
}
@media (prefers-color-scheme: dark) {
  :root {
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 28%, 12%);
    --container-color: hsl(var(--hue-color), 29%, 16%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
    --thumbnail-gradient: 0, 0, 0;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 25%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
    --thumbnail-gradient: 255, 255, 255;
  }
}

/* ============> background colors <============ */
main.side-layout-main {
  /* Background color of the main section, with the page contents and table of contents. */
  background: var(--body-color);
}

footer.ant-layout-footer {
  /* Background color of the footer */
  background: var(--first-color-second);
}

header.ant-layout-header {
  /* Background color of the header, with logo and search bar. */
  background: var(--first-color);
}

.dendron-tree-menu.ant-menu
  .ant-menu-submenu.dendron-ant-menu-submenu-selected
  > .ant-menu-submenu-title {
  /* Background color for the currently selected item on the sidebar. */
  background: #c5dcff;
}
.ant-layout,
.site-layout-sidebar,
.ant-layout-sider,
.ant-menu-submenu,
.site-layout-sidebar .ant-menu.ant-menu-inline,
.ant-menu-vertical .ant-menu-submenu,
.ant-menu-vertical-left .ant-menu-submenu,
.ant-menu-vertical-right .ant-menu-submenu,
.ant-menu-inline .ant-menu-submenu {
  /* Background color for the sidebar. */
  background: var(--container-color);
}

/* ============> Text and link colors <============ */
body,
h1,
h2,
h3,
h4 {
  /* Text color for the text, not including links. */
  color: var(--text-color);
}

.ant-typography {
  /* Color for text in the footer, except the "Page last modified" text. */
  color: var(--text-color);
}

.site-title {
  color: var(--text-color);
}

a,
a:hover,
a:active {
  /** Color for links, except ones that have been already visited. */
  color: var(--title-color);
}

a:visited {
  /* Color for links that have been already visited. */
  color: var(--first-color-alt);
}

a.private {
  /* Color for links to private (not published) or missing notes. */
  color: #cc5d1a;
}

.dendron-toc .ant-anchor-link-title {
  /* Color for items in the table of contents. */
  color: var(--text-color);
}

.dendron-tree-menu.ant-menu .ant-menu-title-content a {
  /* Color for links in the sidebar. */
  color: var(--title-color);
}

footer .ant-typography {
  /* Color for text in the footer, except the "Page last modified" text. */
  color: var(--text-color);
}

footer .ant-typography.ant-typography-secondary {
  /* Color for the "Page last modified" text in the footer. */
  color: var(--first-color-lighter);
}

.ant-menu-item a:hover,
.ant-menu-item > .ant-badge a:hover,
.ant-menu-submenu-selected {
  /* Color for the selected item in the sidebar. */
  color: var(--first-color-alt);
}

.ant-menu-submenu .ant-menu-submenu-title:hover {
  /* The color for the currently highlighted sidebar item. */
  color: var(--first-color-alt);
}

.dendron-tree-menu.ant-menu .ant-menu-inline .ant-menu-item-selected::after {
  /* The color for the bar on the right side of the currently selected sidebar item. */
  color: var(--first-color-alt);
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  /* The color for the background of the currently selected sidebar item. */
  background-color: var(--first-color-lighter);
}

.dendron-toc .ant-anchor-ink-ball {
  /* The color for the dot in the table of contents showing the current position. */
  color: var(--first-color-alt);
}
